# Dependencies
node_modules/

# Build output
dist/

# Course materials (copyrighted lecture slides / PDFs — not for distribution)
pages/

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.vscode/
.idea/

# Local env
.env
.env.local
.env.*.local
